ul{
          margin: 0;
          padding: 0;
          list-style: none;
        }
    #breadcrumbs-two{
      overflow: hidden;
      width: 100%;
    }
    
    #breadcrumbs-two li{
      float: left;
      margin: 0 .1em 0 1em;
    }
    
    #breadcrumbs-two a{
      background: #959592;
      padding: .24em 0.24em;
      float: left;
      text-decoration: none;
       color: white;
      text-shadow: 0 1px 0 rgba(255,255,255,.5); 
      position: relative;
    }
    #breadcrumbs-two a::before{
      content: "";
      position: absolute;
      top: 50%; 
      margin-top: -1.5em;   
      border-width: 1.5em 0 1.5em 1em;
      border-style: solid;
      border-color: #959592 #959592 #959592 transparent;
      left: -1em;
    }
    
    
    #breadcrumbs-two a::after{
      content: "";
      position: absolute;
      top: 50%; 
      margin-top: -1.5em;   
      border-top: 1.5em solid transparent;
      border-bottom: 1.5em solid transparent;
      border-left: 1em solid #959592;
      right: -1em;
    }
    
    #breadcrumbs-two .current
    {
      background: green;
      padding: .24em 0.24em;
      float: left;
      text-decoration: none;
      color: white;
      text-shadow: 0 1px 0 rgba(255,255,255,.5); 
      position: relative;
    }
    
    #breadcrumbs-two .current::after{
      content: "";
      position: absolute;
      top: 50%; 
      margin-top: -1.5em;   
      border-top: 1.5em solid transparent;
      border-bottom: 1.5em solid transparent;
      border-left: 1em solid green;
      right: -1em;
    }
    #breadcrumbs-two .current::before{
     content: "";
      position: absolute;
      top: 50%; 
      margin-top: -1.5em;   
      border-width: 1.5em 0 1.5em 1em;
      border-style: solid;
      border-color: green green green transparent;
      left: -1em;
    }